{% extends 'base.html.twig' %}

{% block title %}Edit Dossier{% endblock %}

{% block body %}
    <h1>Edit Dossier</h1>

    {{ include('dossier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dossier_index') }}">back to list</a>

    {{ include('dossier/_delete_form.html.twig') }}
{% endblock %}
