{% extends 'base.html.twig' %}

{% block title %}New Dossier{% endblock %}

{% block body %}
    <h1>Create new Dossier</h1>

    {{ include('dossier/_form.html.twig') }}

    <a href="{{ path('dossier_index') }}">back to list</a>
{% endblock %}
