{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h3 class="display-4">GED PSON-FED Centre d'administration</h3>
        <p class="lead">Bienvenue sur le centre d'aministration de GED PSON-FED !</p>
        <hr class="my-2">
        {# <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p> #}
    </div>
{% endblock %}