{# dashboard/layout_menu.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

            <link rel="stylesheet" href="../bootstrap/fonts/icomoon/style.css">

            <link rel="stylesheet" href="../bootstrap/css/owl.carousel.min.css">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

            <!-- Style -->
            <link rel="stylesheet" href="../bootstrap/css/style.css">

        {% endblock %}

        {% block javascripts %}
            <script src="../bootstrap/js/jquery-3.3.1.min.js"></script>
            <script src="../bootstrap/js/popper.min.js"></script>
            <script src="../bootstrap/js/bootstrap.min.js"></script>
            <script src="../bootstrap/js/jquery.sticky.js"></script>
            <script src="../bootstrap/js/main.js"></script>
        {% endblock %}

        {% block social_media %}
                <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                  <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                  </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>


            <div class="top-bar">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">contact@pson.sn</span></a>
                    <span class="mx-md-2 d-inline-block"></span>
                    <a href="#" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">+221 (33) 567 08 01</span></a>


                    <div class="float-right">

                      <a href="#" class=""><span class="mr-2  icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
                      <span class="mx-md-2 d-inline-block"></span>
                      <a href="#" class=""><span class="mr-2  icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>

                    </div>

                  </div>

                </div>

              </div>
            </div>
        {% endblock %}

        {% block header %}
            <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

                    <div class="container">
                      <div class="row align-items-center position-relative">


                        <div class="site-logo">
                          <a href="/" class="text-black"><span class="text-primary">PSON</a>
                        </div>

                        <div class="col-12">
                          <nav class="site-navigation text-right ml-auto " role="navigation">

                            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                              <li><a href="/" class="nav-link">Accueil</a></li>
                              {% if is_granted('ROLE_USER') %}

                              <li><a href="{{ path('dossier_index')}}" class="nav-link">Dossiers</a></li>


                              <li class="has-children">
                                <a href="#about-section" class="nav-link">Programmes</a>
                                <ul class="dropdown arrow-top">
                                  <li><a href="#team-section" class="nav-link">Projet A</a></li>
                                  <li><a href="#pricing-section" class="nav-link">Projet B</a></li>
                                  <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                                  <li class="has-children">
                                    <a href="#">Financements</a>
                                    <ul class="dropdown">
                                      <li><a href="#">Convention 1</a></li>
                                      <li><a href="#">Convention 2</a></li>
                                      <li><a href="#">Convention 3</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>

                              <li><a href="#why-us-section" class="nav-link">Projets</a></li>

                              <li><a href="#testimonials-section" class="nav-link">Conventions</a></li>
                              {% endif %}
                              <li><a href="#contact-section" class="nav-link">Contact</a></li>

                              {# as user auth0 switch btn Login / Logout #}
                              {% if app.user %}
                                <li><a href="{{ path('security_logout') }}" class="nav-link">{{"Logout" |trans}}</a></li>
                              {% else %}
                                
                                <li><a href="{{ path('security_login') }}" class="nav-link">Login</a></li>
                              {% endif %}
                              
                            </ul>
                          </nav>

                        </div>

                        <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                      </div>
                    </div>

            </header>            
            
        {% endblock %}

        {% block body %}{% endblock %}
    </head>
</html>